@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500&family=Plus+Jakarta+Sans:wght@200;500;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Outfit:wght@500&family=Plus+Jakarta+Sans:wght@200;500;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Outfit:wght@500&family=Plus+Jakarta+Sans:wght@200;500;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Sora:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;700&display=swap");

body {
  width: 1440px;
  height: 720px;
  flex-shrink: 0;
  background-image: url(images/manado-hd.png);
  background-repeat: no-repeat;
  font-family: poppins;
  filter: brightness(100%);
}

/* NAV BAR */
nav {
  width: 1440px;
  height: 127px;
  flex-shrink: 0;
}
.navbar-title {
  color: #fff;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.5px;
  text-decoration: none;
  padding-left: 151px;
}
.navbar-title span {
  background: linear-gradient(180deg, #3bf686 0%, #4ca9ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.5px;
}
.navbar-collapse {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 155px;
}
.nav-item {
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  line-height: 80.5px; /* 503.125% */
  letter-spacing: 1px;
  padding-left: 65px;
}
.nav-link {
  color: #d1d1d1;
  font-weight: 600;
}
.nav-garis {
  padding-top: 10px;
}
.navbar-line {
  padding-left: 150px;
  padding-bottom: 24px;
}
.line-1 {
  width: 1140px;
  height: 1px;
  background: white;
}

/*  */
.container {
  width: 1140px;
  height: 500px;
  padding-top: 50px;
  color: white;
  text-align: center;
}
.content-1 {
  width: 1140px;
  height: 50px;
  margin: auto;
}
.content-welcome {
  font-family: "AR One Sans", sans-serif;
  font-weight: 400;
  font-size: 55px;
}
.content-2 {
  width: 1140px;
  height: 150px;
  margin: auto;
}
.content-title {
  font-family: "AR One Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 165px;
}
.content-button {
  width: 100px;
  height: 30px;
}
